---
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<main class="max-w-6xl mx-auto grid place-content-center min-h-[60vh]">
		<h1 class="text-8xl text-center text-wrap">
			404
		</h1>

        <h2 class="text-xl">¡¡No hay nada que ver!! (~_~)</h2>
	</main>
</Layout>

