---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <main class="max-w-7xl mx-auto grid place-content-center min-h-[60vh]">
        <div class="flex flex-col gap-5 text-lg">
            <section>
                <h1>Capítulo 1: El Origen</h1>
                <p>
                    En un mundo donde los píxeles gobernaban, una joven
                    tipografía llamada <span>"MysteryStory"</span> luchaba por ser
                    cargada. Su diseño serif evocaba antiguos manuscritos, pero el
                    navegador la mantenía oculta tras un FOIT interminable...
                </p>
            </section>

            <section>
                <h2>Capítulo 2: La Revelación</h2>
                <p>
                    Un héroe llamado <span>Roboto Bold</span> apareció usando. Con
                    sus trazos sans-serif y pesos variables (400 para la calma, 700
                    para el énfasis), trajo orden al caos del CLS.
                </p>
            </section>

            <section>
                <h2>Capítulo 3: El Futuro</h2>
                <p>
                    En las tierras variables, donde un solo archivo <span
                        >WOFF2</span
                    >
                    contenía todos los pesos y estilos, yaxis: 100 900; slnt: -10
                    0; la tipografía se adaptaba fluidamente como agua digital.
                </p>
            </section>
        </div>
    </main>
</Layout>

<style>

    h1,
    h2 {
        font-family: "Libre Baskerville", serif;
        font-weight: 700;
        font-style: normal;
    }

    p {
        font-family: "PT Sans", sans-serif;
        font-weight: 400;
        font-style: normal;
        max-width: 50ch;
    }
</style>
