<footer class="min-w-7xl flex justify-between py-2 mx-auto">
    <p>Hecho con ❤️ por <a href="https://portfolio-irvingcupul.pages.dev" target="_blank" rel="noopener noreferrer" class="underline">Irving Cupul</a></p>

    <a href="https://github.com/Irving-8man" target="_blank" rel="noopener noreferrer" class="underline">
        Github
    </a>
</footer>
