---
import Header from "@/components/header.astro";
import Footer from "@/components/footer.astro";
import "@/styles/global.css";

const animacion = {
	old: {
		name: "",
		duration: ".6s",
		easing: "ease-in",
	},
	new: {
		name: "blup",
		duration: ".6s",
		easing: "ease-in-out",
	},
};

const customTransition = {
	forwards: animacion,
	backwards: animacion,
};
---

<!doctype html>
<html lang="es" transition:animate={customTransition}>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Taller Tipografias</title>
		<!--Carga de tipografias por google font -->

		<!-- 
		Como lo copias y pegas de Google fonts
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap"
			rel="stylesheet"
		/>
		-->

		<!--
		Un poco de diferencia
		https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&text=holaMundo&display=fallback
		-->
	</head>
	<body class="body flex flex-col justify-between min-h-screen">
		<Header />
		<slot />
		<Footer />
	</body>
</html>

<style is:global>
	.html {
		overflow-x: hidden;
		font-size: 16px;
		background-color: whitesmoke;
	}

	.body {
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		font-family: Arial, Helvetica, sans-serif;
	}

	*::selection {
		background-color: black;
		color: white;
	}

	@keyframes blup {
		0% {
			clip-path: circle(0%);
		}
		100% {
			clip-path: circle(100%);
		}
	}
</style>
